/**
 * Base styles
 */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/**
 * Typography
 */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

blockquote,
li,
p {
  line-height: 1.35;
}

/**
 * Example CSS used on Pura demo page
 */
body {
  margin: 2rem auto;
  max-width: 71.25rem;
  width: 90%;
}
